mixin chat-messages(image,classes,name,message,time,side)
  li.d-flex.mb-3
    div(class=side)
      img(src=image, alt="avatar" width="50" height="50").rounded-circle.d-xxl-block.d-none.mr-3
      div(class=classes)
        b.text-dark=name
        p.text-dark.mb-2=message
        hr.mt-0.mb-1.border-light
        small.text-light=time